<!DOCTYPE html>
<html>
  <head>
    <title>CafeHub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300|Abhaya+Libre:700|Abril+Fatface|Alice|Almendra|Amethysta|Arapey|Bentham|Cantata+One|Cardo|Caudex|Cormorant+SC|Crimson+Text:700|Domine|Donegal+One|IM+Fell+DW+Pica+SC|IM+Fell+Double+Pica+SC|IM+Fell+English+SC|IM+Fell+French+Canon+SC|Inknut+Antiqua|Libre+Baskerville:700|Marcellus|Marko+One|Merriweather|Noto+Serif:700|Playfair+Display+SC|Playfair+Display:700|Radley|Ramaraja|Rufina|Stoke|Suez+One|Taviraj|Tienne|Tinos|Trocchi|Ultra|Vidaloka|Volkhov|Vollkorn" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <nav class="navbar navbar-default" id="nav">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" id="logo" href="/"></a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right" id="login-info">
                <% if(!currentUser) { %>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/register">Sign Up</a></li>
                <% } else { %>
                  <li><a>Signed In As <%= currentUser.username %></a></li>
                  <li><a href="/logout">Logout</a></li>
                <% } %>
              </ul>
            </div>
          </div>
        </nav>

<div class="alert">
  <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
</div>
