<% include ../partials/header %>

<h1>Create a new Cafe</h1>

<form class="" action="/cafes" method="POST">
  <input class="" type="text" name="cafe[name]" placeholder="Name of Cafe">
  <input class="" type="text" name="cafe[image]" placeholder="Image URL">
  <input class="" type="text" name="cafe[location]" placeholder="Location">
  <input class="" type="text" name="cafe[description]" placeholder="Description">
  <button>Submit</button>
</form>

<% include ../partials/footer %>
